/* About.css */

.about1 {
  background-image: url('../../assets/image/_72A2707.jpg');
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.423); /* Background color with transparency */
    background-position: center;
    color: #ffffff;
    padding-top: 200px;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    transition: .5s ease-in-out; 
  }
  @media (max-width:900px){
    .about1{
      margin-top: -50px;
    }
  }
  
.about-text {
  margin-top: 1rem;
 
}
.about-text h1{
  font-size: 36px;
  font-weight: bold;
  /* margin-bottom: 1rem; */
  text-transform: uppercase;
}

.about2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
}
.image2 {
  height: 70vh;
    width: 35%;
    border-radius: 5px;
}
.about-content1 {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  width: 50%; 
  margin-top: 2rem;
}
.about-content1 p{
  margin-bottom: 1rem;
  color: #000000;
  font-size: 18px;
  margin-right: 5rem;
  text-align: justify;
}
.about-content1 h1{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-decoration: solid 4px underline #19629d;
  color: #000000;
  font-family: sans-serif;
}
.about-content1 button {
  color: #FFFFFF;
  background: linear-gradient(90deg, #0077b6, #92D050, #33cac0, #c37510);
  width: 151px;
  height: 50px;
  margin-top: 4rem;
  border-radius: 6px;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: capitalize;
  border: none;
  display: grid;
  place-content: center;
  box-sizing: border-box;
  cursor: pointer;
  background-size: 400%;
  transition: background-position 0.5s;
  position: relative;
  overflow: hidden;
}

.about-content1 button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1), transparent);
  transform: skewX(-20deg);
  transition: left 0.5s;
}

.about-content1 button:hover {
  background-position: -200% 0;
}

.about-content1 button:hover::before {
  left: 120%;
}

.about-content1 button:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 20%, transparent 20%);
  background-size: 10px 10px;
  background-position: 0 0;
  animation: shimmering 5s linear infinite;
}
.mission{
  background: #02549678;
  margin: 2rem;
  padding: 2rem;
  color: #000000;
  font-family: sans-serif;
}
.mission h1{
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.mission p{
  font-size: 18px;
  line-height: 1.5;

}
.goal{
  background: #92D050D4;
  margin: 2rem;
  padding: 2rem;

}
.goal h1{
  color: #FFFFFF;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.goal ul {
  list-style-type: circle;
  color: #000000;
  font-size: 18px;
  margin-left: 2rem;
}


.goal ul li {
  margin-bottom: 0.5rem;
 line-height: 1.5rem;
list-style: decimal;
overflow: hidden;
text-align: justify;

  
}
.bx{
  color: #fff;
  font-size: 10px;
  padding-right: 10rem;
}
@media (max-width: 768px) {
  .about2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
    font-family: sans-serif;
    width: 100%;

  }
 /* .about-text {
    margin-top: 1rem;
    margin-left: 2rem;
  } */
  .about-content1{
    width: 100%;
  }
  .image2{
    width: 100%;
    height:auto;
  }
  .about-content1 p {
    margin-bottom: 1rem;
    color: #000000;
    font-size: 18px;
    margin-right: 1rem;
    text-align: justify;
    margin-left: 2rem;
  }
  .about-content1 h1{
    text-align: center;
  }
  .about-content1 button{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 80%;
  }
}


@media (max-width: 480px){
  .about-content1 p{
  font-size: 15px;
  }
  .goal li{
    font-size: 15px;
  }
  .mission p{
    font-size: 15px;
  }
}