.team {
  background-image: url('../../assets/image/teamimage.jpg');
  width: 100%;
  height: 35rem;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.826);
  background-position: top;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize; 
  transition: .5s ease-in-out; 
}

.team-content {
  color: #fff;
  height: 100%;
  text-align: center;
  text-transform: capitalize;
  background: #00000043;
  padding-top: 200px;
}

.team-cards {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
    justify-items: center;
}


.team-card {
  position: relative;
  flex: 1 1 34%;
  max-width: 30%;
  height: 65vh;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 60px;
}

.team-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-image {
  width: 100%;
  height: 85%;
  background-size: cover;
  background-position: center;
  transition: background-color 0.3s ease-in-out;
}
.card-image.unique{
  width: 97%;
  background-position: 0px -20px;
}

.team-card .card-image:hover {
  background-color: rgba(2, 84, 150, 0.7);
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: rgba(2, 84, 150, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.team-card:hover .card-content {
  opacity: 1;
}

.card-content h1 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fff;
}

.card-content p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #fff;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icons a {
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.icons a:hover {
  color: #92D050;
}

.tsocial-icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 17px;
}

.tsocial-icons a {
  color: #025496;
  font-size: 22px;
  margin: auto;
}

.tsocial-icons a:hover {
  color: #92D050;
}

@media (max-width: 768px) {
  .team-cards {
    justify-content: center;
  }

  .team-card {
    width: 90%;
    max-width: 90%;
    margin-bottom: 20px;
  }

  .card-description {
    padding: 10px;
  }
  /* .team{
    width: 50%;
    height: 100%;
  } */
}

@media (max-width: 650px) {
  .team-card {
    flex: 1 1 45%;
    max-width: 45%;
    margin-bottom: 20px;
  }
  .card-image.unique{
    width: 97%;
    background-position: center;
  }
}

@media (max-width: 480px) {
  .team-card {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .card-image.unique{
    width: 97%;
    background-position: top;
  }
}
