.activity-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30rem;
  background-image: url('../../assets/image/news.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
}
.activity-content1{
  color: #fff;
  text-align: center;
  height: 100%;
  padding-top: 200px;
  text-transform: capitalize;
  background: #00000043;
}

.activity-body{
  margin: 90px 0 30px 0;
  padding: 0 70px;
}

.activity-body h1{
  text-align: center;
  margin-bottom: 20px;
}
.Page-activity{
  margin-bottom: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  position: relative;
  overflow: visible;
}
.Page-activity .p-activity-image{
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 33vh;
  border-radius: 6px;
  box-shadow: 0 4px 15px 0 rgba(231, 186, 186, 0.5);
}
.Page-activity .p-activity-image.one{
  background-image: url('../../assets/image/act1.webp');
}
.Page-activity .p-activity-image.two{
  background-image: url('../../assets/image/act2.jpg');
  position: absolute;
  right: -10px;
}
.Page-activity .p-activity-image.three{
  background-image: url('../../assets/image/act3.jpg');
}

.Page-activity .p-activity-content{
  width: 100%;
  text-align: justify;
}
.Page-activity{
  margin-top: 60px;
}
.Page-activity.plast{
  margin-top: 100px;
}
.p-activity-content h3{
  color: #025496;
}
.p-activity-content p{
  font-size: 14px;
}
.activity-foot h3{
  text-align: center;
  margin: auto;
  width: 60%;
  margin-top: 70px;
  margin-bottom: 50px;
  font-weight: 500;
}
.trusted-image{
  display: flex;
}
.trusted-image img{
  width: 23px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 25px;
}
.trusted-image .activity-img{
  margin-left: -10px;
}
.trusted-image p{
  font-size: 14px;
  margin: 3px;
}
.activity-foot a button{
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  border-color: 1px solid #025496;
  font-weight: 450;
  background-color: #025496;
  color: white;
  margin-bottom: 0;
}
.activity-foot .act-button{
  text-align: center;
}
@media (max-width: 820px) {
  .Page-activity .p-activity-image{
    margin-bottom: 20px;
    width: 100%;
    height: 55vh;
  }
  .activity-body{
    padding: 0 30px;
  }
  .activity-body h1{
    margin-bottom: 0;
    font-size: 20px;
  }
  
  .Page-activity .p-activity-image.two{
    position: relative;
  }
  .Page-activity{
    grid-template-columns: 1fr;
    
  }
  
}
