.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #025496;
  color: #fff;
  width: 100%;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.logo-container {
  flex: 1;
  display: flex;
}

.logo {
  width: 130px;
}

.contact-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.icon {
  margin-right: 5px;
  font-size: 1.2rem;
  color: #92D050;
}

@media (max-width: 768px) {
  .contact-item {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
  }

  .icon {
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .logo-container {
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-top: -1rem;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0.4rem;
  }

  .contact-item {
    padding: 0.15rem;
    font-size: 1rem;
    justify-content: center;
  }

  .icon {
    font-size: 1rem;
  }
}
