.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #025496;
    color: #fff;
    width: 1265px;
    height: 50px;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    width: 100px;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
  }
  
  .contact-item {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 193px;
    height: 22px;
    top: 24px;
    left: 1056px;
    gap: 0px;
    opacity: 0px;
  }
  
  .icon {
    margin-right: 5px;
    font-size: 20px;
    color: #92D050;
    width: 16.17px;
    height: 17.81px;
    top: -467px;
    left: 592px;
    gap: 0px;
    opacity: 0px;
  }
  