/* Sidebar container */
.sidebar {
  background: #025496C4;
  display: flex;
  flex-direction: column;
  padding: 6px;
  position: fixed; 
  top: 60px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(-100%); 
  opacity: 0;
}


.sidebar.open {
  transform: translateX(0);
  opacity: 1;
}

.sidebar ul {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.sidebar ul li {
  margin: 0 17px; 
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.sidebar ul li a:hover {
  color: #d0e5f7;
}


.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 101px; 
  left: 20px;
  z-index: 1001;
}

.hamburger.open .bar {
  background-color: #f5f5f5; 
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
    opacity: 1;
    position: static; 
    width: auto;
  }

  .sidebar ul {
    flex-direction: row; 
  }

  .hamburger {
    display: none;
  }
}

/
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    position: absolute;
    top: 84px; 
    width: 250px; 
    border-radius: 0;
  }

  .sidebar ul {
    flex-direction: column;
  }

  .sidebar ul li {
    margin: 10px 0;
  }
}
@media (max-width: 540px) {
  .hamburger {
    top: 130px;
  }

  .sidebar {
    position: absolute;
    top: 114px; 
    width: 250px;
    border-radius: 0;
  }
}

@media (max-width: 480px) {
  .sidebar ul li a {
    font-size: 14px; 
  }
}
