.footer {
  background-color: #025496C4;
  color: white;
  padding: 10px 0;
  display: grid;
  gap: 20px;
}

.footer-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: auto;
  justify-items: left;
}

.footer-left {
  text-align: center;
  flex-direction: column;
}

.footer-left .logo img {
  width: 80px; 
  margin-bottom: 5px;
}

.footer-left p {
  font-size: 17px;
  margin-bottom: 10px;
}
.footer-container .footer-links{
  flex-direction: column;
  margin-top: 10px;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: auto;
}

.footer-col {
  flex-direction: column;
  width: 170px;
}

.footer-col h4 {
  font-size: 16px;
  margin-bottom: 7px;
  text-align: left;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
  margin-top: px;
}

.social-icons {
  color: white;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s;
  z-index: 100;
}

.social-icons a:hover {
  color: #92D050;
}

.footer-col ul li {
  font-size: 13px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.footer-col ul li a {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

.footer-col ul li i {
  font-size: 16px;
  margin-right: 8px;
}

@media (max-width: 900px) {
  .footer-container{
    grid-template-columns: 1fr;
  }
  .footer-left {
    text-align: center;
  }
  
  .footer-right {
    margin-top: -30px;
    grid-template-columns: 1fr 1fr;
  }

  .footer-col ul li {
    font-size: 13px;
  }

  .footer-col h4 {
    font-size: 15px;
  }
}

@media (max-width: 490px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links {
    grid-template-columns:repeat(2,1fr);
    gap: 50px;
    justify-items: center;
  }

  .footer-col {
    align-items: center;
    padding-left: 20px;
  }

  .footer-col ul li {
    font-size: 14px;
    text-align: center;
  }

  .footer-col h4 {
    font-size: 14px;
    text-align: left;
  }
}
