
.footer {
  background-color: #02446C;
  color: white;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  border-top: 2px solid #1D4E89;
}

.footer-left {
  flex: 1;
  text-align: left;
  max-width: 25%; 
  margin-left: 6%;
}

.footer-left .logo img {
  max-width: 90px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.footer-left p {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 13px; 
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: white;
  font-size: 20px; 
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #1DA1F2;
}

.footer-right {
  flex: 2; 
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 75%;
}

.footer-col {
  flex: 1;
  width: 220px;
}

.footer-col h4 {
  margin-bottom: 10px;
  font-size: 14px;
  color: #A9CCE3;
  display: flex;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.footer-col ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px; 
  transition: color 0.3s;
}

.footer-col ul li a:hover {
  color: #d0e5f7;
}

.footer-col ul li i {
  color: #A9CCE3;
  font-size: 12px;
}


@media (max-width: 768px) {
  .footer-left {
    margin: auto;
    text-align: center;
    max-width: 100%;
  }

  .footer-right {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: auto;
  }

  .footer-col {
    max-width:100%;
    text-align: center;
    margin-left: 12px;
  }

  .footer-col h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .footer-col ul li a {
    font-size: 12px;
  }
  .footer-col ul li {
    font-size: 12px;
  }
}

@media (max-width: 620px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 15px;
  }

  .footer-left {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .footer-left .logo img {
    max-width: 100px;
    margin-bottom: 15px;
  }

  .footer-right {
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;
  }

  .footer-col {
    flex: 1 1 100%;
    margin-bottom: 10px;
  }

  .footer-col h4 {
    font-size: 16px;
    display: block;
  }

  .footer-col ul {
    text-align: center;
  }

  .footer-col ul li {
    justify-content: center;
  }

  .footer-col ul li a {
    font-size: 14px;
  }
  .footer-col ul li {
    font-size: 14px;
  }
}
