.footer {
  background-color: #94CDFA9C;
  color: rgba(0, 0, 0, 0.826);
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  display: block;
}
.footer-separator{
  width: 30%;
  border-radius: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px auto;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.footer-left .logo img {
  width: 130px;
  height: 35px;
  margin-top: 20px;
  object-fit: cover;
}

.footer-left p {
  margin-top: 20px;
  text-align: justify;

}

.social-icons {
  margin-top: 20px;
  text-align: left;
}

.social-icons a {
  color: #025496;
  font-size: 24px;
  margin-right: 20px;
}
.social-icons a :hover{
  color: #d3d5cf;
}

.footer-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  color:rgba(0, 0, 0, 0.826) ;
  flex-wrap: wrap;
  width: 100%;
}

.footer-col {
  margin-left: 13rem;
  width: 220px;
  height: auto;
}

.footer-col h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: rgba(0, 0, 0, 0.826);
  text-decoration: none;
}

.footer-col ul li i {
  margin-right: 10px;
  color: #92D050;
  font-size: 20px;
}

@media (max-width: 1110px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .logo img{
    display: none;
  }

  .footer-right {
    max-width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-icons{
    text-align: center;
  }

  .footer-col {
    margin: 0 10px 20px 10px;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .footer-right {
    flex-direction: column;
    align-items: center;
  }

  .footer-col {
    text-align: left;
  }
}

@media (max-width: 540px) {
  .footer-right {
    flex-direction: column;
    align-items: center;
  }

  .footer-col {
    text-align: left;
  }
}

@media (max-width: 480px) {
  .footer-col {
    width: 100%;
    text-align: center;
  }
}
